# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/backend_tools/__pycache__

/backend_tools/__pycache__
/ai/chats
/ai/ai_usage

/__pycache__
/routes/__pycache__

appStari.py

# env files (can opt-in for committing if needed)
.env*